.animated-slot-text {
  --line-height: 1.1;
  --font-size-lg : 6rem;
  --font-size-m : 3.375rem;
  --font-size-s: 1.75rem;
  --anim-ease: linear;

  font-family: "Adobe Clean Black", var(--body-font-family);
  position: relative;
}

.animated-slot-text .foreground {
  position: relative;
}

.animated-slot-text .foreground > div {
  display: flex;
  font-size: var(--font-size-s);
  font-weight: 900;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  contain: content;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}


.animated-slot-text .foreground .slot-static-text {
  white-space: nowrap;
  line-height: 0.8;
  padding-bottom: 0.5rem;
}

.animated-slot-text .foreground .slot-machine-window {
  position: relative;
  height: 1.2em; 
  overflow: hidden;
  display: flex;
  vertical-align: bottom; 
  max-width: 100%;
  line-height: var(--line-height);
  mask-image: linear-gradient(to top, black 65%, transparent 100%);
  transition: mask-image 2s ease;;
}

.animated-slot-text .foreground .slot-machine-window.finished {
  mask-image: linear-gradient(to top, black 100%, transparent 100%);
}

.animated-slot-text .foreground .slot-reel{
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: auto;
  min-width: max-content;
  will-change: transform;
}

.animated-slot-text .foreground .slot-item {
  height: 1.2em; 
  display: flex;
  align-items: center;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.animated-slot-text .animation-controls {
  display: flex;
  padding: 0 0.5rem 0.5rem;
  width: auto;
  align-items: center;
  justify-content: end;
}

.animated-slot-text .animation-controls .pause-play-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 50%;
  z-index: 3;
  padding: 2px;
  cursor: pointer;
  background-color: var(--color-white);
  margin: 0
}

.animated-slot-text .animation-controls .pause-play-wrapper .offset-filler {  
  display: inherit;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: inherit;
  background: var(--color-gray-800);
}

.animated-slot-text .animation-controls .pause-play-wrapper:focus-visible {
  outline: var(--color-accent-focus-ring) solid 2px;
}

.animated-slot-text .pause-play-wrapper .offset-filler.is-playing .play-icon,
.animated-slot-text .pause-play-wrapper .offset-filler:not(.is-playing) .pause-icon {
  display: none;
}

.animated-slot-text .animation-controls .pause-play-wrapper.offset-filler:hover {
  background-color: var(--color-black);
}


@media screen and (min-width:600px){
  .animated-slot-text .animation-controls {
    position: absolute;
    display: flex;
    padding: 0;
    width: fit-content;
    bottom: 8%;
    right: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .animated-slot-text .foreground > div {
    font-size: var(--font-size-m);
  }
}

@media screen and (min-width: 900px) {
  .animated-slot-text .foreground > div {
    font-size: var(--font-size-lg);
  }
  
  .animated-slot-text .animation-controls .pause-play-wrapper .offset-filler{
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width:1200px) {
  .animated-slot-text .animation-controls .pause-play-wrapper .offset-filler {
    width: 2.5rem;
    height: 2.5rem;
  }
}
